@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inconsolata:wght@300&family=Jura&family=League+Spartan:wght@100;300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Montserrat&family=Open+Sans:wght@700&family=Oxygen:wght@400;700&family=Poppins:wght@200;300;500;600;700;800;900&family=Raleway:wght@100;200;300;400;600;700&family=Roboto+Slab:wght@100;200;300;400&family=Roboto:wght@100;400;500&family=Ubuntu:wght@400;500&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-style: normal;
}
a{
  text-decoration: none;
  color: white;
}
ul li{
  list-style-type: none;
}
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}
.header {
  background-color: black;
		&_container {
      max-width: 1190px;
      margin: 0 auto;
		}

		&_navbar {
      display: flex;
      justify-content:space-between ;
      align-items: center;
      flex-wrap: wrap;
		}
		&_item {
      display: inline-block;
      margin-left: 30px;
      font-family: 'Noto Sans',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #FFFFFF;
		}
    @media screen and(max-width: 375px) {
      &_item{
        display: none;
      }
    }
    @media screen and (max-width: 375px) {
     .button{
        display: none;
      }
    }
    @media screen and(max-width: 375px) {
      &_navbar img{
        width: 86px;
        height: 28px;
        padding-top: 9px;
        padding-left: 20px;
      }
    }
}  
@media screen and (max-width: 375px) {
      .header{
        height: 47px;
      }
    }


.button {
  width: 157px;
  height: 47px;
  border: none;
  color: white;
  background: #29AAE3;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  font-family: 'Roboto' ,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  line-height: 23px;
  margin-left: 20px;
}
.main {
  position: relative;
  &_text {
    position: absolute;
    top: 100px;
    width: 815px;
    height: 112px;
    left: 80px;
  }

  &_text-title {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
  }

  &_text-subtitle {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
  }
  // Media
//---------------------------------------------------
    @media screen and (max-width: 375px) {
    &_text{
      width: 335px;
      height: 114px;
      margin-left: -55px;
    }
    &_text-title{
        height: 580px;
        width: 375px;
        font-size: 32px;
        line-height: 38px;
        // margin-top: 101px;
      }
    &_text-subtitle{
      width: 375px;
      height: 170px;
      font-size: 20px;
      line-height: 38px;
      color: black;
      margin-top: -500px;
    }
    &_bg img{
      width: 375px;
      height: 580px;
    }
  }
  // Media end
  //------------------------------------------------
}

.btn {
  width: 289px;
  height: 47px;
  border: none;
  background: #54A757;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  font-family: 'Roboto',sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #FFFFFF;
}
.feature {

  &_title{
    width: 100%;
    text-align: center;
  }
  &_title-text {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    // margin-top: 100px;
    color: #434449;
  }
  &_image-icons {
    padding: 36px 0 0 9px;
  }


  &_text {
    font-family: 'Roboto',sans-serif;
    width: 143px;
    padding: 0 0 0 26px;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #29AAE3;
  }
  &__cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
  }
  @media screen and (max-width: 375px) {
    .cards{
      margin-bottom: 16px;
      margin-left: 55px;
    }
    .cards:last-child{
      margin-bottom: -50px;
      margin-left: 55px;
    }
  }
}
.cards {
  width: 310px;
  height: 601px;
  margin: 0 -60px 0 70px;
  background: #F9F9F9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.text {

  &_subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 29px;
    padding: 0 0 0 22px;
    color: #434449;
  }

  &_subtitle-items {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align:left;
    padding: 0 0 3px 22px;
    list-style-type: none;
    line-height: 22px;
    color: #434449;
  }
}
.btn_item {
  width: 164px;
  height: 47px;
  background: #54A757;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  border: none;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin: 40px 0 0 22px;
  line-height: 23px;
  color: #FFFFFF;
  
  
}
@media screen and (max-width: 375px) {
  .btn_item{
    width: 280px;
    margin-left: 14px;
    cursor: pointer;

  }
}
.btn_{
  width: 1px;
  height: 11px;
  border: none;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #29AAE3;
}

.block {
  position: relative;
  &__container {
    background-color: rgba(196, 196, 196, 0.2);
  }
  &__content-title {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: normal;        
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    padding-top: 70px;
    margin-top: 170px;
    color: #29AAE3;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__subtitle {
    width: 475px;
    height: 211px;
    font-family: 'Noto Sans' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 39px 30px;
    color: #000000;
  }
  &__button {
    position: absolute;
    width: 305px;
    height: 47px;
    top: 70%;
    left: 10%;
    background: #29AAE3;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
  }
  &__block-iamge {
    width: 100%;
    margin-top: 40px;
  }
}

  &__blue-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  &__blue-title {
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-top: 100px;
    color: #9033F9;

  }
  &__blue-content {
    margin-left: 40px;
  }

  &__blue-text {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 425px;
    height: 150px;
  }

  &__blue-button {
    background: #9033F9;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    border: none;
    width: 238px;
    height: 47px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    color: #FFFFFF;
  }
 
  &__content-title__ {
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-style: normal;        
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding-top: 70px;
  margin-top: 170px;
  color: #FF5966;
  }
  &__subtitle__ {
  width: 455px;
  height: 150px;
  font-family: 'Noto Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;  
}
  &_youtube {
  &__youtube-player {
  }

  &__youtube-title {
    text-align: center;
  }

  &__youtube-image {
    display: flex;
    justify-content: center;
  }  
}













